
%p.title Forces in Context
%p.subtitle
  Below are current US military forces in political and economic context by congressional district.
  The goal here is to demonstrate insight available from open source tools and data. While optimization
  is heavily used to provide decision support, it does not always provide transparency into the key
  interactions and disparate data which ultimately should be understood to facilitate decisions with
  national impact.

#chart




