
%p.title Forces in Context
%p.subtitle
  This is where forces are by congressional district. Here we are using authorizations.
  And talk about what we are doing and showing here. Also tell the user what they can do.

#details

#chart




