
%p.title Forces in Context
%p.subtitle
  Below is a depiction of US military forces in political and economic context by congressional district.
  All data and software used are open source. While optimization
  is heavily used to provide decision support, it does not always provide transparency into the key
  interactions and disparate data which ultimately should be understood to facilitate decisions with
  national impact. The map below shows a choropleth of all US congressional districts with colors
  corresponding to either the percent of population employed by the military according to the 2010
  American Community Survey, the number of Air Force funded authorizations from the MPES database or
  the number of military installations as defined by the US census bureau.
%p.subtitle A mouse over event for a district
  displays the relevant congressional representative and demographic data from 2009 and 2010. On the bottom
  left, the bases whose physical territory intersects a congressional district is displayed, next to a graphic
  which shows an expanded view of the district with blue regions corresponding to the geographic footprint of
  each base.
%p.subtitle
  Percent military is shown initially, click below to see: 
  %ul
    %li
      %a#auths{:href => "#"} US Air Force Authorizations
    %li
      %a#percent_military{:href => "#"} Percent Military
    %li
      %a#base_count{:href=> "#"} Base Count  

#chart




